server:
  port: 8083

spring:
  application:
    name: processor-app

  cloud:
    stream:
      bindings:
        output:
          # if you don't provide the group you get an exclusive, auto-delete queue
          group: haliho
          destination: demo-processed
        input:
          # if you don't provide the group you get an exclusive, auto-delete queue
          group: haliho
          destination: demo
